<div class="top-margin">
  <h1>Le numérique en Nouvelle-Aquitaine</h1>

  <h1><%= @article.title %></h1>
  <p><%= @article.date&.strftime("%d %B %Y") %></p>

  <div class="prose"><%= simple_format(@article.content) %></div>

  <% if @article.media.attached? %>
    <div class="article-media-grid">
      <% @article.media.each do |file| %>
      <% if file.content_type.start_with?("image/") %>
        <div class="article-media"><%= image_tag file, alt: @article.title %></div>
      <% else %>
        <div class="article-media">
          <%= video_tag url_for(file), controls: true, preload: "metadata" %>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>

</div>
