<div class="navbar navbar-expand-sm navbar-light navbar">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("Logo/Vista Logos/logo-transparent-png.png", alt: "B-IT Consulting") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Accueil", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
        </li>

        <li class="nav-item dropdown">
          <a href="<%= about_path %>" class="nav-link <%= 'active' if current_page?(about_path) %>">À propos de</a>
          <ul class="dropdown-menu">
            <li><%= link_to "Mes expériences", about_path(anchor: "Expériences") %></li>
            <li><%= link_to "Mes formations", about_path(anchor: "Formations") %></li>
            <li><%= link_to "Mes projets futurs", about_path(anchor: "projets-futurs") %></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a href="<%= competences_path %>" class="nav-link <%= 'active' if current_page?(competences_path) %>">Compétences</a>
          <ul class="dropdown-menu">
            <li><%= link_to "Administration des Systèmes et Réseaux", competences_path%></li>
            <li><%= link_to "Support Technique et Assistance Utilisateur", competences_path(anchor: "support-technique-et-assitance-ultilisateur") %></li>
            <li><%= link_to "Gestion et Chefferie de Projets", competences_path(anchor: "gestion-et-chefferie-de-projets") %></li>
            <li><%= link_to "Logiciels", competences_path(anchor: "logiciels") %></li>
          </ul>
        </li>

        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link #{'active' if current_page?(contact_path)}" %>
        </li>

        <li class="nav-item">
          <%= link_to "Le numérique en Nouvelle-Aquitaine", articles_path, class: "nav-link" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="d-flex align-items-center nav-link" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, class: "rounded-circle", style: "width: 40px; height: 40px; object-fit: cover;", alt: current_user.full_name %>
              <% else %>
                <%= image_tag current_user.fallback_avatar_url, class: "rounded-circle", style: "width: 40px; height: 40px; object-fit: cover;", alt: current_user.full_name %>
              <% end %>
              <span class="ms-2 d-none d-md-inline"><%= current_user.full_name %></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "New Article", new_article_path, class: "dropdown-item" %>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
