<div  class="parallax" style="background-image: url('<%= cl_image_path("d075f135-cbbf-4947-a48e-e2b0f72904e6_hje2vn", fetch_format: :auto) %>');">
  <div class="overlay">
    <div class="content-main" id="hero-section">
      <div></div>
      <div>
        <h1 class="white">Benoît Marfany</h1>
        <h2 class="white">Administrateur d’Infrastructure Sécurisée et Chef de Projet</h2>
        <p class="white">Bonjour,</p>
        <p class="white">Je suis un administrateur d'infrastructure sécurisée et chef de projet IT, spécialisé dans l'administration et la virtualisation des infrastructures.</p>
        <p class="white">Depuis plusieurs années, j'accompagne des entreprises dans l'évolution de leur système d'information, apportant compréhension et gestion de leurs projets de développement.</p>
        <p class="white">Mon objectif est de partager mon savoir-faire en systèmes Windows, cloud et gestion de projets pluridisciplinaires.</p>
        <h3 class="white">Mes résaux sociaux</h3>
        <a href="https://www.linkedin.com/in/benoit-marfany-60126132" class="fa-brands fa-linkedin fa-2xl" target="_blank"></a>
        <a href="https://www.instagram.com/b_itconsulting_gironde/" class="fa-brands fa-square-instagram fa-2xl" target="_blank" ></a>
        <p></p>
        <a href="https://drive.google.com/file/d/1wjZVfahMcNLDTvQSTqLUEQG3igfdV-q_/view?usp=share_link" class="button border-radius button-center" target="-blank">Voir ma vidéo de présentation</a>
      </div>
      <div></div>
    </div>
  </div>
</div>

<div class="flexbox padding-bottom">
  <div></div>
    <img src="<%= cl_image_path("4803602_1280_bsvi6e", fetch_format: :auto) %>" alt="buildings" class="img-hp-lg">
    <div class="content-secondary">
      <h2>Qui suis je ? Quel est mon parcours ?</h2>
      <p>Après avoir obtenu un diplôme en comptabilité, j’ai décidé, en 2006, de suivre ma véritable passion : l’informatique.</P>
      <p>J’ai alors entrepris une reconversion professionnelle en obtenant un diplôme de technicien informatique, qui m’a permis de développer des compétences solides dans ce domaine en pleine évolution.</P>
      <p>Au fil des années, j'ai acquis une riche expérience, évoluant vers des rôles de coordination de projet et d’administration système. En 2012, j’ai consolidé mes connaissances en obtenant la certification Microsoft MCITP, un jalon clé de ma carrière.</p>
      <p>Plus récemment, en 2023, j’ai entrepris une formation en chefferie de projet digital pour enrichir mes compétences et répondre aux défis des environnements numériques modernes.</p>
      <p>Aujourd’hui, je continue de m’investir pleinement dans mes projets, avec la volonté d’allier expertise technique et gestion de projet pour relever de nouveaux challenges.</p>
    </div>
  <div></div>
</div>

<div class="secondary-background">
  <div class="content-main">
    <div></div>
    <div>
      <h2>Projets et réalisations marquants</h2>
      <p>J'ai mené plusieurs projets significatifs qui ont transformé des infrastructures et optimisé leur efficacité. Mon expertise en gestion de projets techniques et en administration des infrastructures sécurisées m'a permis de piloter des initiatives variées et ambitieuses.</p>
      <p>Un exemple clé est la coordination du déploiement du passeport biométrique en 2008, un projet d’envergure qui a inclus des phases de test, des présentations aux élus locaux et au préfet de région, ainsi que la délivrance officielle du premier passeport biométrique en présence de la ministre de l’Intérieur. J’ai également supervisé en 2023 la création complète du site internet Wyze Academy, en dirigeant des équipes de designers et de développeurs, tout en structurant les tâches via l’outil JIRA. Enfin, durant la crise sanitaire de 2020, j’ai contribué à la mise en place d’un VPN pour l’Agirc-Arrco, en résolvant des problématiques critiques liées aux connexions et à la navigation, garantissant ainsi une transition fluide vers le télétravail.</p>
      <p>Ces réussites illustrent mon engagement à fournir des solutions fiables et innovantes, tout en répondant aux enjeux stratégiques et techniques de chaque projet.</p>
    </div>
    <div></div>
  </div>

  <div class="carousel-container">
    <div class="carousel-track" id="customCarouselTrack">
      <% 2.times do %>
        <% @projects.each do |project| %>
          <div class="carousel-card">
            <%= image_tag cl_image_path(project[:image]), class: "carousel-img", alt: project[:title] %>
            <div class="carousel-text">
              <h3><%= project[:title] %></h3>
              <p><%= project[:text] %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="section-button-wrapper">
    <%= link_to "Découvrir mon parcours", about_path, class: "border-radius button" %>
  </div>
</div>

<div class="flexbox padding-bottom">
  <div></div>
  <div class="content-secondary">
    <h2>Compétences clés</h2>
    <p>Dans un monde où la sécurité et l’efficacité des infrastructures sont des priorités absolues, je mets en avant un ensemble de compétences essentielles, développées et renforcées tout au long de mes expériences professionnelles.</P>
    <p><strong class="blue">Administration Système :</strong> Avec une expertise approfondie, je veille au bon fonctionnement des systèmes et à leur optimisation, en garantissant des environnements fiables, performants et sécurisés.</P>
    <p><strong class="blue">Support Utilisateurs :</strong> J’assure une assistance réactive et personnalisée, en plaçant l’humain au cœur de mes solutions pour répondre efficacement aux besoins spécifiques des utilisateurs.</p>
    <p><strong class="blue">Gestion de Projet :</strong> Grâce à une approche structurée et orientée résultats, je pilote les projets avec rigueur et créativité, en anticipant les défis et en alignant les objectifs techniques avec les besoins stratégiques.</p>
    <p>Ces compétences me permettent de relever les défis liés à la mise en place et à la gestion d'infrastructures sécurisées, tout en menant à bien des projets variés et ambitieux. Curieux d’en savoir plus sur mon expertise et mes réalisations ? Cliquez ici sans hésiter, et embarquez dans mon univers professionnel !</p>
    <%= link_to "Découvrir mes compétences", competences_path, class: "border-radius button button-center"%>
  </div>
  <img src="<%= cl_image_path("1685092_960_rib1jb", fetch_format: :auto) %>" alt="buildings" class="img-hp-lg">
  <div></div>
</div>

<div class="secondary-background">
  <div class="content-main">
    <div></div>
    <div>
      <h2>Témoignage et recommandations</h2>
      <p>Plongez dans un univers d'innovations et de solutions sur-mesure grâce aux recommandations éclairées des entreprises, conçues pour répondre à vos besoins et transformer vos ambitions en réussite !</p>
      <div class="testimonies-container d-flex justify-content-between">
        <% @testimonies.each do |testimony| %>
            <div class="testimony-card">
              <%= image_tag cl_image_path(testimony[:image]), class: "testimony-img", alt: testimony[:title] %>
              <div class="testimony-text">
                <h3><%= testimony[:name] %></h3>
                <p><%= testimony[:testimony] %></p>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
  <div></div>
</div>

<div class="flexbox padding-bottom">
  <div></div>
  <div class="content-secondary">
    <h2>Contactez-moi</h2>
    <p>Vous recherchez un administrateur système expérimenté et un chef de projet compétent pour renforcer vos équipes et mener à bien vos projets IT ?</P>
    <p>Avec plusieurs années d’expérience dans la gestion des infrastructures, la mise en œuvre de solutions innovantes et le pilotage de projets complexes, je suis prêt à relever de nouveaux défis et à contribuer activement à la réussite de vos initiatives.</P>
    <p>Mon approche repose sur une expertise technique solide, une gestion rigoureuse des priorités, et une communication fluide avec les parties prenantes pour garantir des résultats efficaces et durables. Que ce soit pour optimiser vos systèmes, assurer leur fiabilité ou accompagner vos équipes dans des projets stratégiques, je mets un point d’honneur à proposer des solutions adaptées à vos objectifs.</p>
    <p>Je serais ravi d’échanger avec vous sur vos besoins et vos ambitions. N’hésitez pas à remplir le formulaire de contact pour me joindre directement</p>
    <p>Ensemble, construisons des solutions performantes et durables au service de vos clients  !</p>
    <%= link_to "Contactez-moi", contact_path, class: "border-radius button button-center"%>
  </div>
  <img src="<%= cl_image_path("homme-clique-messages-virtuels_218381-12701_apmt6n", fetch_format: :auto) %>" alt="buildings" class="img-hp-lg">
  <div></div>
</div>

<div class="secondary-background padding-bottom">
  <div class="content-main">
    <div></div>
    <div>
      <h2>Découvrez le blog du numérique en Nouvelle Aquitaine D’hier, d’aujourd’hui et de demain : Un Avenir Prometteur</h2>
      <p>Accédez à des contenus inspirants, suivez les tendances technologiques et plongez au cœur de l'innovation.</p>
      <p>Plongez dans l'incroyable transformation numérique de la Nouvelle-Aquitaine !  Découvrez comment cette région est passée des premières connexions  lentes des années 80 à une puissance numérique florissante et innovante  d'aujourd'hui. Explorez les projets ambitieux qui vont révolutionner  notre quotidien avec l'essor de la 5G, de l'intelligence artificielle et des objets connectés.  Envie de voir comment la Gironde s'impose comme  leader du numérique en France ? Cliquez ici pour une immersion complète  et laissez-vous surprendre par les innovations à venir ! 💡✨</p>

      <p>Sur la page du blog, vous pourrez également vous inscrire pour recevoir un mail automatique à chaque nouvelle publication. Retrouvez toutes nos actualités également sur LinkedIn et Instagram !</p>
      <div class="center-button-wrapper">
        <%= link_to "Découvrez mes articles", about_path, class: "button border-radius button-center"%>
      </div>
    </div>
    </div>
  </div>
  <div></div>
</div>
