<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h2>Merci pour votre message</h2>

    <p>Bonjour <%= @form.first_name %>,</p>

    <p>Nous avons bien reçu votre message et nous vous en remercions. Nous reviendrons vers vous dans les plus brefs délais.</p>

    <h3>Récapitulatif de votre message :</h3>

    <p><strong>Nom:</strong> <%= @form.last_name %></p>
    <p><strong>Prénom:</strong> <%= @form.first_name %></p>
    <p><strong>Email:</strong> <%= @form.email %></p>
    <p><strong>Objet:</strong> <%= @form.subject %></p>
    <p><strong>Message:</strong></p>
    <p><%= simple_format(@form.message) %></p>

    <hr>

    <p>Cordialement,<br>
    <strong>L'équipe B-IT Consulting</strong></p>

    <p style="font-size: 12px; color: #666;">
      B-IT Consulting<br>
      Email: benoit.marfany@b-itconsulting.com
    </p>
  </body>
</html>
