<!DOCTYPE html>
<html>
  <head>
    <title>BItconsulting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

  </head>

  <body class="<%= 'homepage' if current_page?(root_path) %>"><%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>

  <button id="scrollTop" class="glossy">
    <i class="fa-solid fa-angles-up fa-2xl"></i>
  </button>
  <%= render "shared/cookie_consent" %>
  <%= render "shared/footer" %>
</html>
