<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= tag.meta(name: "description", content: meta_description) if meta_description.present? %>
    <%= tag.meta(name: "robots", content: meta_robots) if meta_robots.present? %>
    <% if canonical_url.present? %>
      <%= tag.link(rel: "canonical", href: canonical_url) %>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:type" content="website">
    <%= tag.meta(property: "og:site_name", content: meta_site_name) if meta_site_name.present? %>
    <%= tag.meta(property: "og:title", content: meta_title) if meta_title.present? %>
    <%= tag.meta(property: "og:description", content: meta_description) if meta_description.present? %>
    <%= tag.meta(property: "og:url", content: canonical_url) if canonical_url.present? %>
    <%= tag.meta(property: "og:image", content: meta_image) if meta_image.present? %>

    <meta name="twitter:card" content="summary_large_image">
    <%= tag.meta(name: "twitter:title", content: meta_title) if meta_title.present? %>
    <%= tag.meta(name: "twitter:description", content: meta_description) if meta_description.present? %>
    <%= tag.meta(name: "twitter:image", content: meta_image) if meta_image.present? %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <%= yield :structured_data %>
  </head>

  <body class="<%= 'homepage' if current_page?(root_path) %>"><%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>

  <button id="scrollTop" class="glossy">
    <i class="fa-solid fa-angles-up fa-2xl"></i>
  </button>
  <%= render "shared/cookie_consent" %>
  <%= render "shared/footer" %>
</html>
